.buttonBlock {
    width: 100%;
    margin: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    .innerButton {
        width: 20%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
